@import '../reset.less';

.admin-page{
    width: 100%;
    height: 100svh;
    .container{
        width: 1200px;
        margin: 0 auto;
        padding-top: 10px;
        p{
            margin-bottom: 20px;
        }
        form{
            width: 400px;
            .flex_between;  
            flex-wrap: wrap;
            input, textarea, button{
                width: 100%;
                margin-bottom: 20px;
                padding: 10px;
            }
            textarea{
                height: 100px;
            }
        }
    }
}