@import '../reset.less';


header{
    width: 100%;
    padding: 40px;
    .container{
        width: 1200px;
        margin: 0 auto;
        .flex_between;
        menu{
            width: 500px;
            .flex_between;
            
        }
    }
}



// React + Typescript + Vite
// React Route
// json 